{{ define "main" }}
<div class="row article-container">
    <div class="gallery">
        <div class="photo">
            <img src="{{ "/gallery/IMG_4399.png" }}" alt="Olympic Park">
            <img src="{{ "/gallery/IMG_4401.JPG" }}" alt="Olympic Park Cat">
            <img src="{{ "/gallery/IMG_2755.png" }}" alt="Gapyeong Chris World">
            <img src="{{ "/gallery/IMG_4557.JPG" }}" alt="Ttukseom Hangang Park">
            <img src="{{ "/gallery/IMG_4522.JPG" }}" alt="Hyehwa Ithinkso Archive">
            <img src="{{ "/gallery/IMG_4673.png" }}" alt="YongDahp">
            <img src="{{ "/gallery/IMG_4607.JPG" }}" alt="YongDahp">
        </div>
        <div class="photo">
            <img src="{{ "/gallery/IMG_4397.JPG" }}" alt="Alone Tree">
            <img src="{{ "/gallery/IMG_3173.png" }}" alt="Workshop Ocean">
            <img src="{{ "/gallery/IMG_3079.png" }}" alt="Danang Spa">
            <img src="{{ "/gallery/IMG_4553.JPG" }}" alt="Hangang Bridge">
            <img src="{{ "/gallery/2405/DSC00025.JPG" }}" alt="Pentax P50">
            <img src="{{ "/gallery/2405/DSC00026.JPG" }}" alt="Props">
            <img src="{{ "/gallery/2405/IMG_4944.JPG" }}" alt="Daejeon Station">
        </div>
        <div class="photo">
            <img src="{{ "/gallery/IMG_4405.JPG" }}" alt="Olympic Park Cat">
            <img src="{{ "/gallery/IMG_2772.png" }}" alt="My Bicycle">
            <img src="{{ "/gallery/IMG_7802.png" }}" alt="Danang SunWorld">
            <img src="{{ "/gallery/IMG_4467.JPG" }}" alt="Sageun-dong">
            <img src="{{ "/gallery/2405/DSC00023.JPG" }}" alt="Perfume">
            <img src="{{ "/gallery/2405/IMG_4945.JPG" }}" alt="Hanhwa">
        </div>
    </div>
</div>
{{ end }}