
<div class="row">
    <div class="col-12 text-center mb-5"></div>
    <!-- Contacts -->
    <div class="col-lg-3 col-sm-6 mb-5">
        <h6 class="mb-4">Contact Me</h6>
        <ul class="list-unstyled">
            <li class="mb-3"><i class="bi bi-house-door"></i> Seoul, Korea</li>
            <li class="mb-3"><i class="bi bi-send-arrow-up"></i> <a class="text-dark" href="mailto:theleepost@gmail.com">theleepost@gmail.com</a>
            </li>
        </ul>
        <p class="justify-content-between">
            <a class="mr-3 bi bi-instagram" href="https://www.instagram.com/soo.m_in/"></a>
            <a class="mr-3 bi bi-github" href="https://github.com/soom1017"></a>
            <a class="mr-3 bi bi-linkedin" href="https://www.linkedin.com/in/soomin-lee-a79236285"></a>
        </p>
    </div>
    <!-- Publications -->
    <div class="col-lg-3 col-sm-6 mb-5">
        <h6 class="mb-4">Categories</h6>
        <ul class="list-unstyled">
            <li class="mb-3"><a class="text-dark"
                href="/categories/project">Project</a>
            </li>
            <li class="mb-3"><a class="text-dark"
                href="/categories/photograph">Photograph</a>
            </li>
        </ul>
    </div>
    <!-- Post Categories -->
    <div class="col-lg-3 col-sm-6 mb-5">
        <h6 class="mb-4">. . .</h6>
        <ul class="list-unstyled">
            <li class="mb-3"><a class="text-dark"
                href="/categories/machine-learning">Machine Learning</a>
            </li>
            <li class="mb-3"><a class="text-dark"
                href="/categories/reinforcement-learning">Reinforcement Learning</a>
            </li>
        </ul>
    </div>
    <!-- Subscription / Patreon -->
    <div class="col-lg-3 col-sm-6 mb-5">
    <h6 class="mb-4">Subscription / Patreon</h6>
    <ul class="list-unstyled">
        <li class="mb-3"><script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="theleepost" data-color="#5F7FFF" data-emoji="☕"  data-font="Cookie" data-text="Buy me a coffee" data-outline-color="#000000" data-font-color="#ffffff" data-coffee-color="#FFDD00" ></script></li>
    </ul>
    </div>
    <!-- Copyright Notice -->
    <div class="col-12 border-top py-4 text-center">
        Copyright © 2024 <a href="https://theleepost.github.io">Soomin Lee</a>. All rights reserved.
    </div>
</div>