<!-- About -->
<div class="p-3 mb-3 bg-light rounded">
    <h4 class="font-italic">About</h4>
    <p class="mb-0">
        Hi, I'm Soomin Lee, a student developer.<br>
        Welcome to my post.
    </p>
    <p class="text-right pt-3"><a href="/about">Know more</a></p>
</div>

<!-- Contact -->
<div class="p-3 col-sm-10">
    <h4 class="font-italic">Social</h4>
    <p class="justify-content-between">
        <a class="mr-4 bi bi-instagram" href="https://www.instagram.com/soo.m_in/" style="font-size: 1.5rem;"></a>
        <a class="mr-4 bi bi-github" href="https://github.com/soom1017" style="font-size: 1.5rem;"></a>
        <a class="mr-4 bi bi-linkedin" href="https://www.linkedin.com/in/soomin-lee-a79236285" style="font-size: 1.5rem;"></a>
    </p>
</div>

<!-- Archive -->
<div class="p-3">
    <h4 class="font-italic">Tags</h4>
    <div class="mb-0">
        {{range $name, $taxonomy := .Site.Taxonomies.tags}} {{ $cnt := .Count }}
            {{ with $.Site.GetPage (printf "/tags/%s" $name) }}
                <div class="tagbutton">
                <a href={{ .RelPermalink }} title="All pages with tag <i>{{$name}}</i>">{{$name}}</a>
                <sup>{{$cnt}}</sup>
                </div>
            {{end}}
        {{end}}
    </div>
</div>
